[Unit]
Description=Daily Indian Gods Desktop Wallpaper Timer

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
