[Desktop Entry]
Name=Antigravity IDE
GenericName=Text Editor
Comment=AI-First Integrated Development Environment with Antigravity Link
Exec=/usr/bin/antigravity-ide --remote-debugging-port=9000
Icon=antigravity-ide
Terminal=false
Type=Application
Categories=Development;IDE;TextEditor;
StartupWMClass=antigravity-ide
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
