[Desktop Entry]
Name=Antigravity IDE
GenericName=Text Editor
Comment=AI-First Integrated Development Environment
Exec="/home/pom/Downloads/Antigravity IDE/antigravity-ide" --remote-debugging-port=9000 --dangerously-skip-permissions %F
Icon=/home/pom/Downloads/Antigravity IDE/resources/app/resources/linux/code.png
Terminal=false
Type=Application
Categories=Development;IDE;TextEditor;
StartupWMClass=antigravity-ide
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
